table{
    background-color: bisque;
}
.index{
    background-color: rgb(40, 176, 218);
}
.days{
    background-color: rgb(167, 174, 214);
}
#maths{
    background-color: rgb(214, 108, 108);
}
.Mathematics{
    background-color: rgb(121, 167, 75);
}
#Physics{
    background-color: rgb(219, 168, 91);
}
.break{
    background-color: rgb(223, 212, 212);
}